<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }} | browsersync-images-middleware</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen container mx-auto my-8 space-y-8 leading-normal tracking-normal">

{{ content | safe }}

  <blockquote class="absolute bottom-0 right-0 text-gray-400 italic"><p class="p-4">Most photo from <a href="https://unsplash.com/">Unsplash</a></p></blockquote>
</body>
</html>
