---
title: "11ty-sample"
layout: "base.njk"
---
  <section class="container mx-auto">
    <h2 class="font-mono font-semibold mx-1">Keep-ratio: width=300 (or height)</h2>
    <div class="flex flex-wrap items-center">
      <img class="m-1" src="{{ '/images/blue-eyes.jpg' | cdn(300) }}" alt="blue-eyes">
      <img class="m-1" src="{{ '/images/bharath-mohan-2CjOnwJCMJM-unsplash.jpg' | cdn(300) }}" alt="bharath-mohan">
      <img class="m-1" src="{{ '/images/ragnar-vorel-uXETAUu_cmI-unsplash.jpg' | cdn(300) }}" alt="ragnar-vorel">
      <img class="m-1" src="{{ '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' | cdn(300) }}" alt="lauren-kay">
    </div>
  </section>

  <section class="container mx-auto">
    <h2 class="font-mono font-semibold mx-1">Smartcrop: width=200 & height=200</h2>
    <div class="flex flex-wrap items-center">
      <img class="m-1" src="{{ '/images/blue-eyes.jpg' | cdn(200,200) }}" alt="blue-eyes">
      <img class="m-1" src="{{ '/images/bharath-mohan-2CjOnwJCMJM-unsplash.jpg' | cdn(200,200) }}" alt="bharath-mohan">
      <img class="m-1" src="{{ '/images/ragnar-vorel-uXETAUu_cmI-unsplash.jpg' | cdn(200,200) }}" alt="ragnar-vorel">
      <img class="m-1" src="{{ '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' | cdn(200,200) }}" alt="lauren-kay">
    </div>
  </section>

  <section class="container mx-auto">
    <h2 class="font-mono font-semibold mx-1">WebP & AVIF</h2>
    <div class="flex flex-wrap items-center">
      <img class="m-1" src="{{ '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' | cdn(300, 0, 'auto') }}" alt="lauren-kay">
      <img class="m-1" src="{{ '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' | cdn(300, 0, 'webp') }}" alt="lauren-kay">
      <img class="m-1" src="{{ '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' | cdn(300, 0, 'avif') }}" alt="lauren-kay">
    </div>
  </section>

  <section class="container mx-auto">
    <h2 class="font-mono font-semibold mx-1">PNG</h2>
    <div class="flex flex-wrap items-center">
      <img class="m-1" src="{{ '/images/sub/démonstration.png' | cdn(200,200) }}" alt="démonstration">
    </div>
  </section>
